* {
    padding: 0;
    margin: 0
  }
  .parent:first-of-type {
    background: #ffffff url("nnn.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(2) {
    background: #ffffff url("delegate.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(3) {
    background: #ffffff url("delegate.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:nth-of-type(4) {
    background: #ffffff url("delegate.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .parent:last-of-type {
    background: #030303 url("madhum.jpg") no-repeat center center fixed;;
    background-size: cover;
  }
  .parent {
    width: 100%;
    height: 150vh;
    color: #F5F5DC;
    text-shadow: 0 0 5px #000;
    font-family: tahoma;
    text-align: center;
    line-height: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden
  }
  .parent p {
    padding: 25px
  }
